<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>PESU STORE</title>
	<link rel="stylesheet" href="Pages/ProjectStyle.css">
	
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="navbar">
				<div class="logo">
					<img src = "http://localhost:8000/images/pes.jpeg" width = "250px">
				</div>
			<nav>
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="http://localhost:8000/parking">Parking</a></li>		
					<li><a href="http://localhost:8000/food">Food Court</a></li>
					<li><a href="">Miscellaneous</a></li>
					<li><a href="http://localhost:8000/contact">Contact</a></li>
					<li><a href="">Account</a></li>
				</ul>
			</nav>
			<img src="http://localhost:8000/images/cart.jpeg" width=30px height = 30px>
			</div>
			<div class="row">
				<div class = "col-2">
					<h1>Welcome to PESU STORE!</h1>
					<p>Your one stop destination for anything you might need to buy<br> in PES University!</p>
					<a href="" class="btn">Explore &#8594;</a>
				</div>		
				<div class = "col-2">
					<img src ="http://localhost:8000/images/pes_logo.jpeg" >
			
				</div>
			</div>
		</div>
	</div>
	<!--Featured Categories-->
	
	<div class="categories">
		<h2 class="t1"> Select your service </h2>
		<div class = "smallcontainer">
			<div class="row">
				<div class="col-3"></div>
					<div class="i1">
						<img src ="http://localhost:8000/images/home.jpeg" alt="Home">
						<h3><center>Home<h3>
					</div>
				<div class="col-3"></div>
					<div class="i2">
						<img src ="http://localhost:8000/images/book.jpeg" alt="Library">
						<h3><center>Library<h3>
					</div>
				<div class="col-3"></div>
					<div class="i3">
						<img src="http://localhost:8000/images/food.jpeg" alt="Food Coupons">
						<h3><center>Food Coupons</h3>
					</div>
				<div class="col-3"></div>
					<div class="i4">
						<img src="http://localhost:8000/images/face.jpeg" alt="My Account">
						<h3><center> My Account</h3>
					</div>
			</div>
		
		</div>
	</div>
		
	
</body>
</html>